<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio de Todo</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="${mensaje}"></p>
        <p th:text="${saludo}"></p>
        </br>
        <div th:if="${personas != null and !personas.empty}">

            <table border="3">
                <tr>
                    <th>Nombre:</th>
                    <th>Apellido:</th>
                    <th>Email:</th>
                    <th>Telefono</th>
                </tr>
                <tr th:each="persona: ${personas}">
                    <td th:text ="${persona.nombre}">VER EL NOMBRE</td>                
                    <td th:text ="${persona.apellido}">VER EL APELLIDO</td>
                    <td th:text ="${persona.email}">VER EL EMAIL</td>
                    <td th:text ="${persona.telefono}">VER EL TELEFONO</td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia :(
        </body>
</html>
